.fire-list-ul {
  .list-group {
    padding-left: auto;
  }
  li:nth-child(even) {
    background: lightgray;
    .header {
      border-bottom: 1px solid darkgray;
    }
  }
  .header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    .fire-name {
      font-size: 2em;
      line-height: 25px;
    }
    .fire-last-updated {
      font-size: 0.75em;
    }
  }
  .property-summary {
    margin-bottom: 10px;
    text-align: left;
  }

}