.twitter-widget {
    h4 {
        background: lightblue;
        margin-bottom: 0;
        padding: 10px 0;
    }
    .tweets-container {
        padding: 10px;
        height: 500px;
        overflow: scroll;
        border: 2px solid lightblue;
    }
}